body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inner .list {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.inner {
  max-width: 600px;
}

h1 {
  text-align: center;
  color: goldenrod;
  font-weight: 900;
  font-size: 60px;
}

.list img {
  border-radius: 30px;
  width: 150px;
  height: 150px;
  border: 5px solid goldenrod;
  margin: 10px;
}

.modal {
  display: none;
  z-index: 500;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.modalBox {
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  position: sticky;
}

p img:hover {
  cursor: -webkit-zoom-in;
}

/* image modal end */