body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.header .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0px;
  z-index: 10;
  border: 5px solid goldenrod;
  background-color: black;
  text-align: center;
}



.inner .list {
  width: inherit;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.contents .inner {
  max-width: 600px;
}

h1 {
  margin-top: 100px;
  text-align: center;
  color: goldenrod;
  font-weight: 900;
  font-size: 60px;
}

.list img {
  border-radius: 30px;
  width: 150px;
  height: 150px;
  border: 5px solid goldenrod;
  box-sizing: border-box;
  margin: 10px;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.footer .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 0px;
  z-index: 10;
  background-color: goldenrod;
  text-align: center;
}



.modal .img {
  width: auto;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

/* 이미지 클릭 시, 밝기 조절 */
.modal .img:hover {
  opacity: 0.8;
}

.modal {
  display: none;
  /* 모달창 숨겨 놓기 */
  position: fixed;
  z-index: 1;
  /* 모달창을 제일 앞에 두기 */
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* 스크롤 허용 auto */
  cursor: pointer;
  /* 마우스 손가락모양 */
  background-color: rgba(0, 0, 0, 0.8);
}

/* 모달창 이미지 */
.modal_content {
  margin: auto;
  display: block;
  width: 30%;
  height: auto;
  max-width: 1000px;
  border-radius: 10px;
  animation-name: zoom;
  animation-duration: 0.8s;
}

/* 모달창 애니메이션 추가 */
@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* 닫기 버튼 꾸미기 */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}